@font-face {
  font-family: 'iconfont';  /* project id 1885753 */
  src: url('https://at.alicdn.com/t/font_1885753_h0976h9e8z9.eot');
  src: url('https://at.alicdn.com/t/font_1885753_h0976h9e8z9.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_1885753_h0976h9e8z9.woff2') format('woff2'),
  url('https://at.alicdn.com/t/font_1885753_h0976h9e8z9.woff') format('woff'),
  url('https://at.alicdn.com/t/font_1885753_h0976h9e8z9.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_1885753_h0976h9e8z9.svg#iconfont') format('svg');
}


.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconzuo:before {
  content: "\e63c";
}
.iconmore:before {
  content: "\e60f";
}
.iconyuandian:before {
  content: "\e7c2";
}
.iconcenter:before {
  content: "\e618";
}
.iconsangeren:before {
  content: "\e61e";
}
.iconai-connection:before {
  content: "\e662";
}




